<html lang="en">
  <head>
    <title>An iPhone list</title>
    <link rel="stylesheet" href="styles.css">
    <script src="angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="iphoneApp" ng-controller="AppController">
    <h1>iPhone SE</h1>

    <input name="search" ng-model="query" />

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Color</th>
          <th>Type</th>
          <th>Capacity</th>
          <th>Price</th>
        </tr>
      <thead>
      <tbody>
        <tr ng-repeat="iphone in iphoneList | filter: search">
          <td ng-bind="iphone.id">ID</td>
          <td ng-bind="iphone.name">Name</td>
          <td ng-bind="iphone.color">Color</td>
          <td ng-bind="iphone.type">Type</td>
          <td ng-bind="iphone.capacity">Capacity</td>
          <td ng-bind="iphone.price">Price</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
